{% extends 'base/index.html' %}

{% block content_wrapper %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Listado de Grupos</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Listado de Grupos</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
{% endblock content_wrapper %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <a href="{% url 'config:user_groups_add' %}" class="btn btn-app bg-info"><i class="fas fa-plus-circle"></i></a>
            </div>
            <div class="card-body">
                <table id="tbl" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre y Apellidos</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in obj %}
                        <tr>
                            <td>{{i.id}}</td>
                            <td>{{i.name}}</td>
                            <td>
                               
                                <a href="{% url 'config:user_groups_modify' i.id %}" class="btn btn-sm text-success"><i class="fa fa-edit"></i></a>
                                <button class="btn btn-sm text-danger" type="button" onclick="abrir_borrar(`{{ i.name }}`, `{% url 'config:user_groups_delete' i.id %}` )">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                               

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
