{% extends 'base/index.html' %}

{% block content_wrapper %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Listado de Diagnósticos</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Listado de Diagnósticos</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
{% endblock content_wrapper %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <a href="#" onclick="return abrir_modal('{% url 'catalogos:diagnostico_add' %}')" class="btn btn-success">
                    <span class="fa fa-calendar-plus"></span> Nuevo
                </a>
            </div>
            <div class="card-body">
                <table id="tbl" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in obj %}
                        <tr>
                            <td>{{ i.id }}</td>
                            <td>{{ i.codigo }}</td>
                            <td>{{ i.nombre }}</td>
                            <td>
                                {% if i.estado %}
                                    <span class="badge badge-info">Activo</span>
                                {% else %}
                                    <span class="badge badge-danger">Inactivo</span>
                                {% endif %}
                            </td>
                            <td>
                                <button onclick="return abrir_modal('{% url 'catalogos:diagnostico_update' i.id %}')" class="btn btn-xs btn-warning"><i class="fas fa-edit"></i> Editar</button>
                                <button class="btn btn-xs btn-danger activar-desactivar-btn" data-id="{{ i.id }}">
                                    {% if i.estado %}
                                        Desactivar
                                    {% else %}
                                        Activar
                                    {% endif %}
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- diagnosticos_list.html -->

<script>
    $(document).ready(function() {
        $('.activar-desactivar-btn').click(function() {
            var diagnosticoId = $(this).data('id');
            var activar = !$(this).hasClass('btn-warning');  // Si tiene clase btn-warning, es para desactivar
    
            Swal.fire({
                title: '¿Estás seguro?',
                text: '¿Quieres cambiar el estado del diagnóstico?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, cambiar estado',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    activarDesactivarDiagnostico(diagnosticoId, activar);
                }
            });
        });
    
        function activarDesactivarDiagnostico(diagnosticoId, activar) {
            $.ajax({
                url: "{% url 'catalogos:activar_desactivar_diagnostico' 0 %}".replace('0', diagnosticoId),  // Utiliza la URL reversa
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    var estado = response.estado;
                    var mensaje = estado ? 'Diagnóstico activado.' : 'Diagnóstico desactivado.';
                    Swal.fire({
                        icon: 'success',
                        title: '¡Hecho!',
                        text: mensaje
                    }).then(function() {
                        location.reload();  // Recargar la página para reflejar el cambio
                    });
                },
                error: function(xhr, errmsg, err) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Ocurrió un error al procesar la solicitud.'
                    });
                }
            });
        }
    });
</script>
    
{% endblock content %}
